
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    /* background-image: url("../images/TreassureIsland.png"); */
}

.sectionLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .hint {
    display: flex;
    justify-content: space-around;
    /* float: left; */
    color: darkcyan;
    margin-top: 5rem;

  
   
    
  }


.game_container {
  margin-top: 3rem;
  background-image: url("../images/TreassureIsland.png");   
  background-repeat: no-repeat;
  background-size: 120% 145%; 
  background-position: center;
  /* padding-bottom: 15rem; */
  /* float: right; */
  width: 90vh;
  height: 85vh;
  border-radius: 5%;
  border: 5px solid darkcyan;
  border-style: inset;
  background-color: #006d82ff;
}

#boardContainer {
  
    float: right;
    width: 70vh;
    height: 70vh;
     border: 3px #006d82ff darkcyan;
     display: grid;
     justify-content:end;
     grid-template-rows: repeat(1, frr);
     margin-right: 5rem;
}

.boardRow {
    height: 8.75vh;
    border: 1px solid darkcyan;
    display: flex;
}

.boxes {
    background-color: transparent; 
    justify-content: center;
    align-items: center;
    width:8.75vh;
    height:8.75vh;
    border: 2px solid darkcyan;
    border-style: inset;
}


 .label {
        display: flex;
        align-items: center;
        justify-content: center;
        width:9vh;
        height:9vh;
        font-weight: bold;
        /* font-size: larger; */

        font-size: 5vh;
        font-weight: bold;
        color: darkcyan;
        text-shadow: 2px 2px 0 #333, 4px 4px 0 #666, 6px 6px 0 #999, 5px 5px 0 #ccc, 6px 6px 0 #eee;
        transform-style: preserve-3d;
        transform: perspective(800px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
      
        
      }
    
      

      .row-labels {
        display: flex;
        flex-wrap: wrap;
        outline: 0px;
        float: right;
        color:blanchedalmond  ;
        /* background-color: white; */
        margin-right: 6rem;

      
		
        
      }

      .col-labels {
        float: right;   
        flex-wrap: wrap;
        /* background-color: white; */
        display: flex;
        outline: 0px;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        color:blanchedalmond;
        /* margin-right: 1rem; */
       
      }

   #foundTreasure {
    justify-content: center;
    text-align: center;
    background-color: rgb(7, 191, 47);
    color: #fff;
    border-radius: 30px;
    border: 2px solid green;
    border-style: inset;
   
   }

   